* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* overflow: hidden; */
}

#vg-tooltip-element {
	font-size: 20px;
	color: #3e3c38;
}

#test {
	width: 100vw;
	height: 100vh;
	background-color: beige;
	/* background-color: #f8edeb; */

	/* display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; */
}

button {
	background-color: cornflowerblue;
	padding: 10px 20px;
	margin: 10px;
	border: none;
	border-radius: 10%;
	font-size: 20px;
	color: whitesmoke;
}

#tooltip {
	position: absolute;
	width: 200px;
	height: auto;
	padding: 10px;
	background-color: white;
	box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
	border-radius: 5%;
}

#tooltip:hover {
	cursor: pointer;
}

#tooltip.hidden {
	opacity: 0;
}

#tooltip p {
	margin: 0;
	font-size: 16px;
}
